model-viewer {
  width: 100%;
  height: 100%; /* 16:9 */
}

button {
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  border: none;
  background-color: blue;
  box-sizing: border-box;
}

button[slot="hotspot-hand"] {
  --min-hotspot-opacity: 0;
  background-color: red;
}

button[slot="hotspot-foot"]:not([data-visible]) {
  background-color: transparent;
  border: 3px solid blue;
}

.annotation {
  background-color: black;
  color: white;
  position: absolute;
  transform: translate(10px, 10px);
  border-radius: 10px;
  padding: 0.2rem;
}
/* This keeps child nodes hidden while the element loads */
:not(:defined) > * {
  display: none;
}
