/* ~~~~~~~~ MODEL VIEWER ~~~~~~~~ */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');

#ar {
  width: 100vw;
  height: 100vh;
  position: relative;
  --hotel-bg: #ffbe0b;
  --theatre-bg: #fb5607;
  --restaurant-bg: #ff006e;
  --retail-bg: #8338ec;
  --misc-bg: #3a86ff;
}

#menu {
  z-index: 10;
  position: absolute;
  color: #444;
  background-color: #fafafa;
  width: 100vw;
  bottom: 0;
  left: 0;
  padding: 1rem 2rem;
  font-size: 0.875rem;
  line-height: 1.5;
  font-family: Consolas, monaco, monospace;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.annotation__category {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.annotation__blob {
  width: 10px;
  height: 10px;
  border-radius: 5px;
  margin-right: 10px;
}

.annotation__name {
  margin: 0;
}

.annotation__category.selected .annotation__name {
  text-decoration: underline;
}

@media (max-width: 750px) {
  #menu {
    justify-content: space-between;
    padding: 1rem;
    top: 0;
    bottom: auto;
  }
  .annotation__blob {
    width: 5px;
    height: 5px;
    border-radius: 5px;
    margin-right: 5px;
  }
}

model-viewer {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.75);
}

.hotspot {
  display: block;
  --min-hotspot-opacity: 0;
  -webkit-appearance: none;
  border: none;
  border-radius: 5px;
  width: 10px;
  height: 10px;
  cursor: pointer;
}

.hotspot[data-category="hotel"],
.annotation__category[data-category="hotel"] .annotation__blob {
  background-color: var(--hotel-bg);
}
.hotspot[data-category="hotel"] .annotation {
  border: 1px solid var(--hotel-bg);
}

.hotspot[data-category="theatre"],
.annotation__category[data-category="theatre"] .annotation__blob {
  background-color: var(--theatre-bg);
}
.hotspot[data-category="theatre"] .annotation {
  border: 1px solid var(--theatre-bg);
}

.hotspot[data-category="restaurant"],
.annotation__category[data-category="restaurant"] .annotation__blob {
  background-color: var(--restaurant-bg);
}
.hotspot[data-category="restaurant"] .annotation {
  border: 1px solid var(--restaurant-bg);
}

.hotspot[data-category="retail"],
.annotation__category[data-category="retail"] .annotation__blob {
  background-color: var(--retail-bg);
}
.hotspot[data-category="retail"] .annotation {
  border: 1px solid var(--retail-bg);
}

.hotspot[data-category="misc"],
.annotation__category[data-category="misc"] .annotation__blob {
  background-color: var(--misc-bg);
}
.hotspot[data-category="misc"] .annotation {
  border: 1px solid var(--misc-bg);
}

.annotation {
  position: absolute;
  left: 0;
  bottom: 0;
  min-width: 210px;
  transform: translate(7px, -7px);
  color: #444;
  background-color: #fafafa;
  border-radius: 0.5rem;
  padding: 0.7rem 1rem 0.5rem;
  font-family: Consolas, monaco, monospace;
  text-align: left;
  line-height: 1.5;
  font-size: 0.75rem;
  display: none;
  cursor: auto;
}

.hotspot.visible {
  border-radius: 7.5px;
  width: 15px;
  height: 15px;
}

.hotspot.visible .annotation {
  display: block;
}

.annotation__section {
  margin-bottom: 0.5rem;
}

.annotation__title {
  font-family: "Oswald";
  font-weight: 100;
  margin: 0;
}

.annotation__text {
  margin: 0;
  text-transform: capitalize;
}

@media (max-width: 750px) {
  .hotspot {
    padding: 0;
  }
}
