---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {% for post in site.posts reversed %}
    <!-- <h1>{{ post.zoomDate }} {{ post.zoomTime }}</h1> -->
    <h2><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h2>
    <p>{{ post.description }}
      {% for instructor in post.instructor %}
        <!-- {% if forloop.index == post.instructor.size %} -->
          and
        {% endif %}
        <a href="{{ post.instructorURL[forloop.index0] }}">{{ instructor }}</a>, {{ post.instructorTitle[forloop.index0] }}{% endfor %}.</p>
  {% endfor %}
  <br>
  Prototype 1<br>
       <a href="../map/">A Virtual Tour of the Businesses that Closed due to COVID-19 in New York City</a><br><br>
  Prototype 2<br>
  <a href="../pizzas/">The Quest for the Ultimate Pizza Slice in New York City</a><br>
  <br>
  <br>
</div>
